<?xml version="1.0"?>

<model>
  <name>Iris with Lidar and Gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Manuel Branco Nardi</name>
    <email>mebranco@icloud.com</email>
  </author>

  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
    add gimbal_small_2d
    add lidar
  </description>
  <depend>
    <model>
      <uri>model://gimbal_small_3d</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>